html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #F8F5EE;
}

.body {
    font-family: eb-garamond-font;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
}

.container {
    padding-top: 80px;
    margin-bottom: 67px;
    text-align: center;
    overflow: auto;
}

.pdf-viewer {
    height: calc((100vh - 180px) * 1.5);
    width: calc((72vh - 129px) * 1.5);
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #BD404E;
    display: block;
}

@media only screen and (max-width: 600px) {
    .body {
        font-size: calc(100vw / 36);
        line-height: calc(100vw / 36);
    }
}
@media only screen and (min-width: 600px) {
    .body {
        font-size: calc(100vw / 58);
        line-height: calc(100vw / 58);
    }
}
@media screen and (min-width: 935px) {
    .body {
        font-size: calc(100vw / 78);
        line-height: calc(100vw / 78);
    }
  }
